<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row style="height: 40px;">
      <span>Rodan Sotto</span>
      <span style="flex: 1 1 auto"></span>
      <a mat-button href="/index.html">Home</a>
      <a mat-button href="/myprojects.html">My Projects</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span style="font-size:1.5em">Product Catalog (An Angular and Material Demo)</span>
    </mat-toolbar-row>      
  </mat-toolbar>
</div>
<div style="padding:20px">
  <router-outlet></router-outlet>
</div>
