<div class="mat-elevation-z8" style="margin-bottom: 20px;">
  <mat-toolbar style="background-color: white;">
    <mat-toolbar-row>
      <span style="font-size: 1.25em;">Adventure Works Product Catalog</span>
      <mat-progress-spinner style="margin-left: 10px;" *ngIf="!productsLoaded" mode="indeterminate" diameter="25"></mat-progress-spinner>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-form-field style="font-size: 14px;">
        <mat-label>Search Catalog</mat-label>
        <input #searchValue matInput (keypress)="searchIfEnter($event, searchValue.value)">
        <button matSuffix mat-icon-button aria-label="Search" (click)="search(searchValue.value)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button aria-label="Image View" (click)="viewImages()" matTooltip="Image View">
        <mat-icon>view_comfy</mat-icon>
      </button>
      <button mat-icon-button aria-label="List View" (click)="viewList()" matTooltip="List View">
        <mat-icon>list</mat-icon>
      </button>  
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
    <!-- image view template -->
    <div *ngIf="imageView && products && products.length" class="image-view" style="margin-bottom: 20px;">
      <div *ngFor="let product of products">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{product.Name}}</mat-card-title>
            <mat-card-subtitle>{{product.ListPrice | currency}}</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 10px;">
            <img mat-card-image *ngIf="product.LargePhoto" src="data:image/gif;base64,{{product.LargePhoto}}" alt="">
          </div>
          <mat-card-content>
            <p>
              {{product.ProductNumber}}
              | {{product.ProductCategory}}
              | {{product.ProductModel}}
              | {{product.Color}}
              | Sz {{product.Size}}
              | Wt {{product.Weight}}
            </p>
          </mat-card-content>
          <mat-card-actions style="text-align:right">
            <button mat-button mat-icon-button matTooltip="Like"><mat-icon style="color:rgba(255, 0, 0, 0.50)">favorite</mat-icon></button>
            <button mat-button mat-icon-button matTooltip="Share"><mat-icon style="color:rgba(0, 0, 255, 0.50)">share</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="mat-elevation-z8" *ngIf="products && products.length">
      <!-- list view template -->
      <mat-table *ngIf="!imageView" [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" matSortDisableClear="true">
        <!-- column definitions -->
        <ng-container matColumnDef="productNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Number</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ProductNumber}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Color}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="standardCost">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Standard Cost</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.StandardCost | currency}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="listPrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header>List Price</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ListPrice | currency}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="size">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Size}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Weight}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="productCategory">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Category</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ProductCategory}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="productModel">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Model</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ProductModel}}</mat-cell>
        </ng-container>

        <!-- row definitions -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [length]="totalRecords"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageIndex]="page-1"
                     (page)="pageEvent($event)">
      </mat-paginator>
    </div>  
</div>
